<div class="container-fluid logo-box">
  <div class="lb">
  	<p class="logo">Welcome to Radio Divocion</p>
  </div>
  <div><p class="underling">Come discover Radio Divicion Today and see what's in store for you.</p>/
  </div>
  <div class="btn-center">
    <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
  Discover
    </button>
  </div>
</div>

