/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
 	margin: 0;
 }

 .navbar-fixed-top{
 	margin-top: 0;
 	margin-bottom: 0px;
 }

.navbar-toggle {
    background-color: #fff;
}

.icon-bar{
	background-color: #000;
}

.navbar-light{
	background-color: #e3f2fd;
}


.navbar-brand{
	font-size: 2em;
	font-style: bold;
	font-family: 'Lato', sans-serif;
	color: #1daff7;
}

.navbar-nav{
	font-size: 1.1em;
	font-family: 'Lato', sans-serif;
	font-style: italic;
}

button.btn-outline-success{
	color: #1daff7;
}




.btn-primary{
	width: 50%;
	background-color: #1daff7;
	font-family: 'Lato', sans-serif;
	font-size: 1.1em;
}

.navbar-text > a {
	color: inherit;
	text-decoration: none;
	padding: 7px;
}


.pull-right {
    margin-top: 7%;
}

.pull-left {
    /*margin-top: 10%;*/
    color: white;
}

.navbar-fixed-bottom{
	height: 12%;
	
	color: white;
}