#casts-banner{
	background: image-url('oceanbanner.jpeg');
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;	
	text-align: center;
	color: white;
	padding: 8%;
	margin-top: 52px;
}

