body{
	 background: image-url('landing_page.jpg');
	 width: 1080;
	 height: 1260;
	 color: #1daff7;
}

.logo{
	font-size: 1.8em;
	font-color: #1daff7;
	padding-top: 50%;

}

.navbar-inverse {
    background-color: #000000;
    border-color: #1daff7;
}

footer.container{
  background-color: #000;
  padding-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
